<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <script src="/javascripts/jquery-2.0.3.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/Login.js"></script>
  </head>
  <body>
  <ul class="nav nav-tabs">
      <li class="active"><a href="#">home</a></li>
      <li><a  href="#">events</a></li>

      <li><a href="#">chat</a> </li>
      <li><a href="#">add Event</a> </li>
  </ul>
   <div class="hero-unit">


       Name:    <input id="userName" type="text"/><br/>

       Password:<input type="text"/><br/>

       <button id='btn' class="btn btn-primary">Submit</button>
   </div>
  </body>
</html>